.debug.true header,
.debug.true .l-header,
.debug.true .r-header,
.debug.true ,
.debug.true section{
    border:1px solid black;
}

.debug.true section{
    min-height:100px;
    border: 1px solid black;
}

.debug.true .container-1000w,
.debug.true .container-800w{
    border:2px solid black;
    min-height:100px;
}

.debug.true .my-col-70,
.debug.true .my-col-30{
    border: 1px solid black;
}

.debug.true p,
.debug.true img,
.debug.true .big-arrow{
    border:1px solid pink;
}