.debug.true header,
.debug.true .l-header,
.debug.true .r-header,
.debug.true a,
.debug.true h1,
.debug.true section,
.debug.true .be-partner{
    border:1px solid black;
}

.debug.true section{
    min-height:100px;
    border: 1px solid black;
}

.debug.true .container-1200w,
.debug.true .container-1100w,
.debug.true .my-col,
.debug.true .product-desc{
    border:2px solid black;
    min-height:100px;
}

.debug.true .my-col-70,
.debug.true .my-col-30,
.debug.true .team-plan{
    border: 1px solid black;
    min-height:100px;
}


.debug.true p,
.debug.true img,
.debug.true .big-arrow{
    border:1px solid pink;
}

.debug.true main section .product-desc .my-col{
    min-height:100px;
    border:2px solid red;
}
