/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

a{
    text-decoration:none;
    color:black;
}

/* Global Classes */

.flex{
    display:flex;
    justify-content:space-between;
}

.relative{
    position:relative;
}

.light-blue-background{
    background-color: #b4d0e7;
}

.container-1000w,
.container-800w{
    margin:auto;
}

.container-1000w {
    max-width: 1000px;
    padding-top:20px;
   
}

.container-800w {
    max-width: 800px;
}

.my-col-30{
    width:30%;
}

.my-col-70{
    width:70%;
}

.button {
    background-color:#0061FF;
    padding:10px 20px;
    color:white;
}

/* Header */

header{
    padding:10px;
    background-color: white;
}

.l-header {
    padding:10px;
}

.r-header,
.l-header{
    align-items:center;
}

.r-header a.button{
    padding:5px 20px;
}

.r-header a,
.l-header a{
    margin-left:15px;
    margin-right:15px;
    font-size:0.85rem;
}

/* Main */


/* First Section - Blue Blackground*/
main .light-blue-background .container-1000w h1{
    font-size:4.5rem;
    padding-bottom:5%;
    padding-top:5%;
}

main .light-blue-background .container-1000w p{
    line-height:20px;
    margin-bottom:15%;
}

main .light-blue-background .my-col-30 p:last-of-type{
    padding-top:15%;
}

main .light-blue-background .my-col-70 img {
    position:absolute;
    left:0;
    top:0;
}

main .big-arrow{
    font-size:50px;
}