/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

a{
    text-decoration:none;
    color:black;
}

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
  }
  
li {
    padding-left: var(--icon-space);
    margin:15px 0;
}
  
li:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

/* Global Classes */

.flex{
    display:flex;
    justify-content:space-between;
}

.relative{
    position:relative;
}

.light-blue-background{
    background-color: #b4d0e7;
}

.container-1200w,
.container-1100w{
    margin:auto;
}

.container-1200w {
    max-width: 1200px;
    padding-top:20px;
}

.container-1100w {
    max-width: 1100px;
}

.my-col-30{
    width:30%;
}

.my-col-70{
    width:70%;
}

.my-col-55{
    width:55%;
}

.my-col-45{
    width:45%;
}

.button {
    display:inline-block;
    background-color:#0061FF;
    padding:10px 15px;
}

.button a {
    color:white;
}

li.user-icon:before{
    content: "\f007"; /* FontAwesome Unicode */
}

li.folder-icon:before{
    content: "\f07b"; /* FontAwesome Unicode */
}

li.share-icon:before{
    content: "\f1e0"; /* FontAwesome Unicode */
}

li.check-icon:before{
    content: "\f00c"; /* FontAwesome Unicode */
    color:#0061FF;
}

li.users-icon:before{
    content:"\f0c0";
}

/* Header */

header{
    padding:10px;
    background-color: white;
}

.l-header {
    padding:10px;
}

.r-header,
.l-header{
    align-items:center;
}

.r-header .button{
    padding:5px 5px;
}

.l-header :first-child{
    margin-right:30px;
}

.r-header a,
.l-header a{
    margin-left:15px;
    margin-right:15px;
    font-size:0.85rem;
}

/* Main */


/* First Section - Blue Blackground*/
main .light-blue-background .container-1200w h1{
    font-size:4.5rem;
    padding-bottom:5%;
    padding-top:5%;
}

main .light-blue-background .container-1200w p{
    line-height:20px;
    margin-bottom:40px;
}

main .light-blue-background .my-col-30 p:last-of-type{
    margin-top:40px;
    margin-bottom:10px;
}

main .light-blue-background .my-col-70 img {
    position:absolute;
    left:0;
    top:0;
}

main .big-arrow{
    font-size:45px;
    margin-top:60px;
    margin-bottom:15px;
}

/* Second Section of Main */

/* Card Verticali */
main section .container-1100w h2{
    margin-top:150px;
    margin-bottom:50px;
}

main .container-1100w .radio-style{
    accent-color:#0061FF;
    margin-right:5px;
}

main .container-1100w .radio-buttons span{
    margin-right:30px;
}

main section:nth-of-type(2) .my-row{
    margin-top:30px;
}

main section:nth-of-type(2) .my-col{
    width:calc((100%/3) - 30px);
}

main section:nth-of-type(2) .my-col:nth-of-type(2){
    margin:0 15px;
}

main .my-col{
    border: 1px solid gray;
}

main .plan-content {
    padding:30px;
}

main .buy-plan {
    text-align:center;
    padding:10px;
    border-bottom:1px solid gray;
}

main .buy-plan span {
    font-size:0.95rem;
    padding-left:1px;
}

.plan-content h3{
    font-size:1.3rem;
}

.plan-content .price {
    font-weight:bold;
    font-size:0.9rem;
    margin:10px 0;
}

.plan-content .payment-route{
    font-size:0.8rem;
    margin-bottom:50px;
}

.plan-content .middle-content a {
    font-size:0.9rem;
}

.middle-content .button{
    display:block;
    text-align:center;
    margin:30px 0;
    padding:10px 10px;
}

.middle-content p > a {
    text-decoration:underline;
}

.middle-content p {
    margin:30px 0;
}

.middle-content .separator {
    width:50px;
}

.bottom-content {
    margin-top:20px;
}

.bottom-content h4{
    font-size:0.95em;
}

.bottom-content ul {
    margin-top: 20px;
}

.bottom-content ul > li {
    font-size:0.9rem;
}

/* Card Orizzontale */

main .team-plan {
    margin-top:40px;
    border:1px solid gray;
}

main .team-plan .my-row.flex {
    margin-top:0px;
}

.team-plan .my-col-70,
.team-plan .my-col-30{
    padding:30px;
}

.team-plan .my-col-30{
    justify-content: flex-end;
    align-items:start;
}

.team-plan .my-col-70 span{
    display:inline-block;
    margin:20px 0 40px 0;
}

/* Third Section */

/* Be Partner */

.be-partner {
    margin-top:100px;
}

.be-partner .my-col-45 {
    padding:100px 140px 0px 50px;
}

.be-partner .my-col-45 p{
    margin-top:20px;
    margin-bottom:20px;
}

.be-partner .my-col-45 .button{
    border:1px solid black;
    background-color:transparent;
}

.be-partner .my-col-45 .button > a{
    color:black;
    font-size:0.9rem;
}

/* Product Description */

.product-desc .my-row.flex{
    flex-wrap:wrap;
}

.product-desc h2{
    font-size:3.0rem;
}

.product-desc .my-row.flex .my-col{
    width:calc((100% / 3) - 15px);
    margin-bottom:15px;
    border:none;
}

.product-desc .my-row.flex .my-col h3{
    font-size:1.4rem;
}

.product-desc .my-row.flex .my-col p{
    padding:25px 0;
}